# Python / Virtual Environment
__pycache__
*.pyc
venv/
evenv/
data/MachineLearningRating_v3.csv
notebooks/data/insurance_data.csv
*.log

# Jupyter Notebooks
.ipynb_checkpoints/

# Data (optional if not tracking with LFS)
data/*.csv
notebooks/data/*.csv
notebooks/data/insurance_data.csv