# Python / Virtual Environment
__pycache__
*.pyc
*.pyo
*.pyd
*.pyc
venv/
evenv/
env/
*.egg-info/
dist/
build/
*.log

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS generated
.DS_Store
Thumbs.db

# Data / Output
data/
output/
results/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production
.env.example

# Logs and databases
*.log
*.sqlite3
*.db